# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API-ключи
API_KEY=your_api_key_here_from_"https://api.apilayer.com/exchangerates_data/convert"
API_KEY_MARKET=your_api_key_here_from_"https://api.marketstack.com/v1/eod"
